#faltu{
    height: 10vh;
}
.home{
      margin: 0;
    width: 99vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}
.home h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-bottom: 50px;
}

.home table tr td{

 text-align: center;
    width: 20vw;
    margin: 10px;
    padding: 10px;

}

td{
    text-align: center;
}


.button{
    display: flex;  
    justify-content: space-around;
  padding: 10px;
    align-items: end;
}

img{

    width: 40vw;
   
}
.image{
    width: 40vw;
}

 .content{
display: flex;

justify-content: center;
align-items: center;

} 
.con{
 
    width: 25vw;
    position: relative;
    top: -9rem;
}

#Notification{
   position: relative;
   left:17rem;
    background-color: yes;
    
    justify-content: end;
    
}
#Notification button{
background-color: yellow;
color: black;
font-size: 30px;

}


.mes{
display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(230, 15, 15);
    color: rgb(0, 0, 0);

    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    position: relative;
    top:-4em;
    right: -2em;
}
