body{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(2, 1, 36);
    color: white;
}
.card {
    width: 60vw;
    display: flex;

}
.card .a {
    display: flex;
    justify-content: space-around;
}
.card .a h2{
    margin-top: 15px;
    margin-right:20px;
}
.card .a button{
    margin-right: 10px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    /* right: 100%  ; */
}
.card1{
color: brown;
    display: flex;
}
.card1 a{
    color: rgb(255, 255, 255);
        display: flex;
    }